<!--The content below is only a placeholder and can be replaced.-->

<div class="d-flex justify-content-center h-100">
  <div class="jumbotron mx-auto my-auto indigo lighten-5">
    <!--  -->
    <h2 class="text-center">{{gameHeading}}</h2>
    <div *ngIf="!gameEnter;then welcome else appmodal"></div>    
    <ng-template #welcome>
      <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="User.name" (ngModelChange)="checkUserName()">
        <label for="form1" class="">{{inputPlaceholder}}</label>
        <button *ngIf="User.validName" (click)="gameEnter=true;" type="button" mdbBtn color="secondary" mdbWavesEffect>{{buttonEnterTitle}}</button>
      </div>
    </ng-template>
    <ng-template #appmodal>
      <app-game-modal [UserName]="User.name"></app-game-modal>
    </ng-template>
    <!--  -->
    </div>
</div>
